<mat-card class="center">
    <mat-card-title>Create a Card</mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field appearance="fill" style="width:100%">
          <mat-label>Question</mat-label>
          <input matInput placeholder="Enter your Question" [(ngModel)]="question" name="question">
        </mat-form-field>
  <br>
        <mat-form-field style="width:100%" appearance="fill">
          <mat-label>Answer</mat-label>
          <input matInput type="text" placeholder="Enter your Answer" [(ngModel)]="answer" name="answer">
        </mat-form-field>
  <br>
        <button mat-raised-button color="primary" (click)="createCard()">Create Card</button>
      </form>
    </mat-card-content>
    <p>{{errorMessage}}</p>
  </mat-card>

  